@import url(http://fonts.googleapis.com/css?family=Lilita+One);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);

body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

#authorizeButton {
	position:relative;
	border-width:0px;
	color:#fff;
	width:76%;
	border-radius:10px;
	/*background-color: rgba(0,0,0,0.65);*/
	background-color: #333333;
	margin-top:10px;
	font-family:'Lilita One',sans-serif;
	text-transform:uppercase;
	font-size:28px;
	padding:10px;
	outline:none;
	margin-left:12%;
}

#clear-all-tasks-button {
	font-size:1.25em;
	text-transform: uppercase;
	float:left;
	width:60%;
	height:auto;
	border-width:0px;
	padding:0px;
	color:#fff;
	border-radius:10px;
	background-color: rgba(0,0,0,0.65);
	font-family:'Lilita One',sans-serif;
	outline:none;
}

#cover {
	position:fixed;
	width:300%;
	height:300%;
	margin-top:-200%;
	margin-left:-200%;
	background-color:rgba(255,255,255,0.8);
 	z-index:100000000000000000;
}

.cover.ng-hide-add.ng-hide-add-active,
.cover.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.15s;
  -moz-transition: all linear 0.15s;
  -o-transition: all linear 0.15s;
  -ms-transition: all linear 0.15s;
  transition: all linear 0.15s;
}

.cover.ng-hide {
  opacity: 0;
}

.cover {
  opacity: 1;
}

#spinner {
	font-size:4em;
	opacity:0.2;
}

#spinner-container {
	width:100%;
	text-align:center;
	margin-top:25%;
}

#google {
	width:25%;
	height:auto;
	display:block;
	margin-left:auto;
	margin-right:auto;
	opacity:0.9;
	margin-top:28%;
}

.hide {
	display:none;
}

.fade-task {
	opacity:0.3;
}

#google:hover {
	opacity:1;
}


.button-pressed {
	background-color: rgba(0,0,0,0.8);
}

.edit-form-buttons {
	position:relative;
	height:30px;
	float:left;
	border-width:0px;
	color:#fff;
	border-radius:12px;
	background-color: rgba(0,0,0,0.65);
	margin-top:3px;
}

.save-button {
	font-family:'Lilita One',sans-serif;
	color:#fff;
	font-size:.65em;
	width:40%;
	text-transform: uppercase;
}

.delete-button {
	font-size: .8em;
	width:28%;
	float:center;
	text-align:center;
	margin-left:2%;
	padding:0;
}

.check-off-button {
	font-size:.8em;
	width:28%;
	float:right;
	padding:0;
}

.edit-box {
	resize:none;
	width:100%;
	font-size:1em;
	padding:5px;
	border-width:0px;
	border-radius:13px;
	background:white;
	opacity:0.65;
	outline:none;
	font-family: "Ubuntu", sans-serif;
	font-weight:300;
	position:relative;
	/*top:15px;*/
	font-size:.9em;
	color: rgba(0,0,0,0.7);

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 	
}

.task-list {
	display:inline-block;
	position:absolute;
	list-style-type:none;
	padding:0;
	word-wrap:break-word;
	margin-top:0px;
	margin-bottom:0px;
}

.tasky {
	position:absolute;
	width:125px;
	height:120px;
	border-radius:33px;
	border:1px dotted rgba(0,0,0,0.4);
	padding:12px;
	font-family: "Ubuntu", sans-serif;
	font-weight:300;
	font-size:.85em;
	line-height:1.2em;
	color:#fff;
	margin:0px;
	word-wrap:break-word;

/*  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  animation-duration: 0.5s;*/
}

.animated.rollIn{
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.animated.rollOut{
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.animated.fadeOut{
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

.tasky:hover {
	cursor:pointer;
}

.handle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding:15px;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 	
}

.task {
	font-family: "Ubuntu", sans-serif;
	font-weight:300;
	font-size:.9em;
	line-height:1em;
	color:#fff;
	margin:0px;	
	padding:0px;
}

.edit-feedback {
	text-align:right;
	float:right;
	width:100px;
	background:lime;
	height:200px;
	font-size:3em;
}

.deleted {
	display:none;
}

/*================================================================================*/
/*================================ ADD TASK FORM =================================*/
/*================================================================================*/
.add-task-form {
	background:#fff;
	position: fixed;
	right:-105%;
	background-color:#D1D1D1;
	width:87%;
	height:auto;
	padding:5px;
	top:20px;
 	border-radius:10px;
 	z-index:100000000000000;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

.add-task-form > form > .form-items {
	width:85%;
	height:80%;
	float:left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}
.add-task-form > form > .form-items > textarea {
	width:100%;
	float:left;
	resize:none;
	font-size:1em;
	padding:10px;
	border-width:0px;
	border-radius:10px;
	background:white;
	opacity:0.85;
	outline:none;
	font-family: "Ubuntu", sans-serif;
	font-weight:300;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

.add-task-button {
	font-size:1.25em;
	float:left;
	width:60%;
	height:35px;
	border-width:0px;
	padding:0px;
	color:#fff;
	margin-top:5px;
	border-radius:10px;
	background-color: rgba(0,0,0,0.65);
	font-family:'Lilita One',sans-serif;
	outline:none;
}

.text-feedback {
	float:right;
	width:17%;
	font-size:2em;
	height:35px;
	text-align:right;
	margin-top:5px;
	font-family:'Lilita One',sans-serif;
	color:#fff;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

.toggle-menu-button {
	position:fixed;
	display:inline;
	top:0.25em;
	top:10px;
	right:0.25em;
	border-radius: 50%;
	height:47px;
	width:47px;
	border-width:0px;
	background-color:#E5B2FF;
	outline:none;
	text-align:center;
	color:#fff;
	font-size:2.5em;
	z-index:1000000000000000;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

.plus-icon {
	padding-left:2px;
	padding-top:4px;
}

.no-tasks-message {
	position:fixed;
	font-family:'Lilita One',sans-serif;
	text-transform:uppercase;
	text-align:center;
	font-size:2em;	
	color:#cccccc;
	top:75px;
	margin-right: 15%;
	margin-left: 10%;
}

/*================================================================================*/
/*================================ HELP FORM =====================================*/
/*================================================================================*/
.help-form {
	background:#fff;
	position: fixed;
	right:-105%;
	background-color:#D1D1D1;
	width:87%;
	height:auto;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:10px;
	top:70px;
 	border-radius:10px;
 	z-index:100000000000000;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

.help-form  > .help-items {
	width:85%;
	height:80%;
	float:left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

.help-form > .help-items > span {
	font-family: "Ubuntu", sans-serif;
	font-weight:300;
	font-size:0.9em;
	line-height:0.75em;
}

.help-form > .help-items > #plannings-a-drag {
	font-family:'Lilita One',sans-serif;
	color:#fff;
	text-transform: uppercase;
	font-size:1.25em;
}

.help-form > .help-items > #literally {
	font-family:'Lilita One',sans-serif;
	color:#fff;
	text-transform: uppercase;
	font-size:1.25em;
	float:right;
	margin-top:10px;
}

.toggle-help-button {
	position:fixed;
	display:inline;
	top:1.65em;
	right:0.25em;
	text-align:center;
	color:#fff;
	font-size:2.5em;
	border-radius: 50%;
	height:47px;
	width:47px;
	line-height: 52px;
	border-width:0px;
	background-color:#38FFE1;
	z-index:1;
	outline:none;
	z-index:1000000000000000;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

.button-pressed {
	background-color: rgba(255,255,255,0.5);
		-webkit-transition: all 0.03s;
		-moz-transition: all 0.03s;
		-ms-transition: all 0.03s;
		-o-transition: all 0.03s;
		transition: all 0.03s;
}
.hide {
	opacity:0;
		-webkit-transition: opacity 0.5s;
		-moz-transition: opacity 0.5s;
		-ms-transition: opacity 0.5s;
		-o-transition: opacity 0.5s;
		transition: opacity 0.5s;
}

/*================================================================================*/
/*================================= COLOUR PICKER ================================*/
/*================================================================================*/
.colour-picker-button {
	font-size:1.25em;
	float:center;
	width:18%;
	height:35px;
	border-width:0px;
	padding:0px;
	color:#fff;
	margin-top:5px;
	margin-left:5px;
	border-radius:10px;
	background-color: #05E1FF;
	outline:none;
}

.colour-picker {
	margin-top:3px;
	width:79.5%;
	height:150px;
}

#colour1, #colour2, #colour3,
#colour4, #colour5, #colour6,
#colour7, #colour8, #colour9 {
	width:50px;
	height:50px;
	background:rgba(0,0,0,0.8);
	float:left;
	border-radius:50%;
	margin-left:4.999995%;
	margin-bottom:4.999995%;
	opacity:1;
}

#colour1, #colour4, #colour7 {
	clear:left;
	margin-left:0;
}

#colour7, #colour8, #colour9 {
	margin-bottom:3px;
}

#colour1 { background-color:#05E1FF; }
#colour2 { background-color:#8799FF; }
#colour3 { background-color:#BA82FF; }
#colour4 { background-color:#FF8396; }
#colour5 { background-color:#FF7ABB; }
#colour6 { background-color:#FE2374; }
#colour7 { background-color:#5DEFB0; }
#colour8 { background-color:#49DDB0; }
#colour9 { background-color:#139a6f; }

/*================================================================================*/
/*================================ SMOKE.JS ALERTS ===============================*/
/*================================================================================*/
.smoke-base { 
	background: none;
}

.smoke-base .dialog {
  top:15%;
  left:15%;
  width:100%;
  width:70%;
  position:absolute;
  text-align:center;
}

.smoke-base .dialog-inner { 
	padding: 15px;
}

.smoke {
	font-family:'Lilita One',sans-serif;
   text-transform: uppercase;
	color:#fff;
	background-color:#D1D1D1;
	font-weight: 300;
   font-size:28px;
	border-radius: 20px;
 	z-index:10000000000000000000000;

  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  -ms-animation-duration: 0.2s;
  animation-duration: 0.2s;
}


/*.smoke-base {
	background-color: red;
	z-index:10000000000000000000000;
}*/

.dialog-buttons {
	margin: 0px 0 5px 0;
}

.dialog-buttons button {
   width:85%;
   font-size:22px;
	padding:10px;
	border-width:0px;
	color:#fff;
	margin-right:5px;
	border-radius:10px;
	background-color: rgba(0,0,0,0.65);
	font-family:'Lilita One',sans-serif;
	text-transform:uppercase;
	outline:none;
	margin-top:10px;
}

button.cancel { 
	width:85%;
	margin-left:5px;
	font-size:22px;
	border-width:0px;
	padding:10px;
	color:#fff;
	margin-top:10px;
	border-radius:15px;
	background-color: rgba(0,0,0,0.65);
	font-family:'Lilita One',sans-serif;
	text-transform:uppercase;
	outline:none;
}

.dialog-prompt{
	margin-top:0;
}

.dialog-prompt input{
	width:300px;
	text-align:center;
	background-color:#ccc;
}

#loading {
	position:fixed;
	width:300%;
	height:300%;
	margin-top:-150%;
	margin-left:-150%;
	background-color:rgba(0,0,0,0.5);
 	z-index:100000000000000000;
}

.fade {
	opacity:0.3;
}